Publishers
<div class="categories">
  <div
    *ngFor="let item of repos | keyvalue"
    [id]="item.key"
    class="category"
    (click)="change($event)"
    [style]="
      item.key === 'EPA_FUEL_FULL'
        ? 'background-color: #8787f4; color:white'
        : ''
    "
  >
    {{ item.value }}
  </div>
</div>
<ag-grid-angular
  style="width: 100%; height: 600px"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [rowStyle]="rowStyle"
  [getRowStyle]="getRowStyle"
  id="data-validation-grid"
>
</ag-grid-angular>
