<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLink]="['data-validation']"
    style="color: white"
    >Data Validation</a
  >
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLink]="['cf-evolution']"
    style="color: white"
  >
    Evolution</a
  >
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLink]="['kg-comparison']"
    style="color: white"
  >
    Comparison</a
  >
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLink]="['CO2-calculator']"
    style="color: white"
  >
    Household Calculator</a
  >

  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLink]="['CO2-calculator-appliances']"
    style="color: white"
  >
    Appliances Calculator</a
  >
</nav>
<!-- <app-data-validation></app-data-validation>

<app-evolution-chart></app-evolution-chart>

<app-knowledge-comparison></app-knowledge-comparison>

<app-co2-calculator-fixed></app-co2-calculator-fixed>

<app-co2-calculator-appliances></app-co2-calculator-appliances> -->

<router-outlet></router-outlet>
