<ag-grid-angular
  style="width: 100%; height: 600px"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [rowStyle]="rowStyle"
  [getRowStyle]="getRowStyle"
>
</ag-grid-angular>

<div class="cf-evolution-wrapper">
  <div id="cf-evolution" class="cf-evolution-chart"></div>
  <fieldset class="cf-selection">
    <legend>Choose your monster's features:</legend>

    <div *ngFor="let cf of allCF">
      <input
        (change)="selectCF($event)"
        type="checkbox"
        id="{{ cf.lookUpNames.value }}+{{ cf.sourceUnitNames.value }}+{{
          cf.targetUnitNames.value
        }}"
        name="{{ cf.conversionFactors.value }}"
      />
      <label for="{{ cf.conversionFactors.value }}"
        >{{ cf.lookUpNames.value }}-</label
      >
      <label for="{{ cf.conversionFactors.value }}"
        >{{ cf.sourceUnitNames.value }}-</label
      >
      <label for="{{ cf.conversionFactors.value }}"
        >{{ cf.targetUnitNames.value }}-</label
      >
    </div>
  </fieldset>
</div>
