:host {
  margin: 16px;
}

.cf-evolution-wrapper {
  display: flex;
  flex-direction: column;
  .cf-selection {
    width: 20%;
    border: none;
  }

  .cf-evolution-chart {
    width: 80%;
    height: 600px;
  }
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #8787f4;
}

.overlay {
  z-index: 999999999999999999;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.viewport {
  height: 600px;
  min-height: 600px;
  width: 100%;
}

.viewport-item {
  height: 25px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  max-height: 265px;
  overflow-y: scroll;
  grid-gap: 16px;
  margin-top: 16px;
}

.categories2 {
  display: flex;
  flex-wrap: wrap;
  height: 90px;
  overflow-y: scroll;
  grid-gap: 16px;
  margin-top: 16px;
}
.category {
  border-radius: 16px;
  border: 1px solid #8787f4;
  height: 40px;
  width: 120px;
  text-align: center;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-wrapper {
  display: flex;
  height: 600px;
}
