<div class="overlay" id="overlay">
  <mat-spinner></mat-spinner>
  Calculating Evolutions...
</div>
Publishers
<div class="categories2">
  <div
    *ngFor="let item of repos | keyvalue"
    [id]="item.key"
    class="category"
    (click)="changePublisher($event)"
    [style]="
      item.key === 'EPA_FUEL_FULL'
        ? 'background-color: #8787f4; color:white'
        : ''
    "
  >
    {{ item.value }}
  </div>
</div>

<div class="cf-evolution-wrapper">
  Categories
  <div class="categories">
    <div
      *ngFor="let item of cf_groups | keyvalue"
      [id]="item.key"
      class="category"
      (click)="selectCategory($event)"
    >
      {{ item.key }} <br />
      ( {{ singleFluctuationsLength(item.key) }} )
    </div>
  </div>
  <div class="chart-wrapper">
    <div id="cf-evolution" class="cf-evolution-chart"></div>
    <fieldset class="cf-selection">
      <legend>Conversion factors: (Name - Source Unit - Target Unit)</legend>

      <cdk-virtual-scroll-viewport
        appendOnly
        minBufferPx="1000"
        maxBufferPx="1000000"
        itemSize="50"
        class="viewport"
      >
        <div *cdkVirtualFor="let cf of allCF" class="viewport-item">
          <input
            (change)="selectCF($event)"
            type="checkbox"
            id="{{ cf.lookUpNames.value }}+{{ cf.sourceUnitNames.value }}+{{
              cf.targetUnitNames.value
            }}"
            name="{{ cf.conversionFactors.value }}"
          />
          <label for="{{ cf.conversionFactors.value }}"
            >{{ cf.lookUpNames.value }}-</label
          >
          <label for="{{ cf.conversionFactors.value }}"
            >{{ cf.sourceUnitNames.value }}-</label
          >
          <label for="{{ cf.conversionFactors.value }}">{{
            cf.targetUnitNames.value
          }}</label>
        </div>
      </cdk-virtual-scroll-viewport>
    </fieldset>
  </div>
</div>
