<mat-card class="example-card">
  <mat-card-content>
    {{
      params.value && params.value.similarity
        ? (params.value.similarity * 100 | number : "1.2-2") + "%"
        : ""
    }}
    <section class="example-section">
      <mat-progress-bar
        class="example-margin"
        [color]="params.value && params.value.excludeSU ? 'blue' : 'orange'"
        [mode]="mode"
        [value]="
          params.value && params.value.similarity
            ? params.value.similarity * 100
            : 0
        "
      >
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
